<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="edu.ssafy.boot.dto.Member"/>
		<!-- <typeAlias type="edu.ssafy.boot.dto.Product"/> -->
	</typeAliases>
	<mappers>
		<mapper resource="mybatisconfig/Member_sql.xml" />
		<!-- <mapper resource="mybatisconfig/Product_sql.xml" /> -->
	</mappers>
</configuration>